.CustomerCoupon .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-left: 2.5%;
  margin-top: 3%;
}

.CustomerCoupon .select_row {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.CustomerCoupon .select_row select {
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  border-radius: 20px;
  padding: 15px 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}

.CustomerCoupon .select_row .select-show:hover {
  color: #ffffff;
  background-color: #8AAAE5;
}

.CustomerCoupon .select_row .select-category:hover {
  color: #ffffff;
  background-color: #8AAAE5;
}

.CustomerCoupon .pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
  width: 85%;
  height: 100%;
  position: fixed;
  top: 80%;

}

.CustomerCoupon .item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.CustomerCoupon .disabled-page {
  color: #808e9b;
}

.CustomerCoupon .active {
  border: solid 1px aliceblue;
  border-radius: 30px;
  color: aliceblue;
  margin-right: 10px;
  margin-left: 10px;
}

.CustomerCoupon .next {
  border-left: solid 1px #808e9b;
  font-size: 4px;
  height: 40px;
  position: absolute;
  right: 0;
  width: 150px;
}

.CustomerCoupon .pagination {
  align-items: center;
  background-color: #8AAAE5;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 50%;
  border: 1px solid black;
}

.CustomerCoupon .pagination-page {
  font-weight: 800;
}

.CustomerCoupon .previous {
  border-right: solid 1px #808e9b;
  font-size: 4px;
  height: 40px;
  left: 0;
  position: absolute;
  width: 150px;
}